.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-team {
    display: flex;
    column-gap: 10%;
    margin-left: 5%;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.a-info-img {
    position: relative;
    width: 600px;
    margin-top: 10%;
}

.a-img {
    width: 100%;
    border-radius: 5%;
    height: 750px;
}

h1 {
    color: rgb(199, 172, 132);
    font-size: 100px;
    font-family: 'Rampart One',
        cursive;
}

.name {
    position: absolute;
    bottom: 0.5%;
    width: 100%;
    background-color: rgba(28, 22, 22, 0.6);
    height: 11%;
    color: rgb(199, 172, 132);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

}

.name:hover {
    background-color: rgba(28, 22, 22, 0.7);

}

.a-info,
.k-info,
.m-info,
.s-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.personal-links {
    background-color: rgb(245, 227, 155);
    height: 100px;
    width: 80%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    column-gap: 10%;

}



.content-inner {
    width: 600px;
    color: #fff;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.content-inner:hover .content-front {
    transform: rotateY(-180deg);
}

.content-inner:hover .content-back {
    transform: rotateY(0deg);
}

.content-inner .content-front,
.content-inner .content-back {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4%;
}

.content-front {
    background: #1a1919;

}

.content-inner>* {
    transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content-inner .cf-inner {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100%;
    padding: 20px;
}

.content-front .cf-inner:before,
.content-front .cf-inner:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 10;
}

.content-front .cf-inner:before {
    top: 20px;
    left: 20px;
    border-left: 1px dotted;
    border-top: 1px dotted;
    border-color: rgba(255, 255, 255, .6);
}

.content-front .cf-inner:after {
    bottom: 20px;
    right: 20px;
    border-right: 1px dotted;
    border-bottom: 1px dotted;
    border-color: rgba(255, 255, 255, .6);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 3;
}

.content-inner .cf-inner .inner {
    align-items: stretch;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateZ(95px) scale(0.81);
    text-align: center;
    position: relative;
    z-index: 2;
}

.content-inner .cf-inner .inner h1 {
    position: relative;
    font-size: 50px;
    font-weight: 800;
    /* padding-bottom: 20px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.content-inner .cf-inner .inner h1:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 20px;
    height: 2px;
    margin-left: -10px;
}

.content-inner .cf-inner .inner h2:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    width: 50px;
    height: 2px;
    margin-left: -25px;
    background: #C19D60;
}

.content-inner .cf-inner .inner h4 {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0 4px;
}

.serv-num {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: #000;
    z-index: 3;
    font-size: 20px;
}

.content-inner .content-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: rotateY(180deg);
    background: #ffebcd;
}

.content-back .dec-icon {
    top: -20px;
}

.dec-icon {
    position: relative;
    display: inline-table;
    width: 80px;
    height: 80px;
    font-size: 25px;
    color: #000000;
}

.content-back:after {
    color: #000;
    position: absolute;
    content: "\25CF\25CF\25CF";
    width: 50px;
    left: 50%;
    bottom: 30px;
    margin-left: -25px;
    font-size: 9px;
    letter-spacing: 4px;
}

.fa-utensils:before {
    content: "\f2e7";
}

.content-inner .cf-inner .inner p {
    color: #000;
    font-size: 40px;
    line-height: 70px;
    padding-bottom: 10px;
    font-weight: 400;
}

.bg-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: center;
    background-image: url(https://drive.google.com/file/d/12TrHmhc_ioqGECiY8qiR4iSSIZ0_ya3v/view?ts=6177a9b8);
    background-size: cover;
}

.bg {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 780px) {
    .about-info h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 450px) {
    .about-info h1 {
        font-size: 30px;
    }

    .content-inner {
        width: 350px;
    }

    .personal-links {
        column-gap: 1%;
    }
}