.about-team {
    display: flex;
    column-gap: 10%;
    margin-left: 10%;
    flex-wrap: wrap;
    row-gap: 10%;
}

.a-info-img {
    position: relative;
    width: 650px;
    margin-top: 10%;
}

.a-img {
    width: 100%;
    border-radius: 5%;
    height: 750px;

}



.name {
    position: absolute;
    bottom: 1%;
    width: 100%;
    background-color: rgba(28, 22, 22, 0.4);
    height: 11%;
    color: rgb(199, 172, 132);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.name:hover {
    background-color: rgba(28, 22, 22, 0.7);

}