html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;

}

.whole {
    width: 100%;
    height: 100%;
    margin: 0%;
}

.head {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.head-left {
    width: 30%;
    height: 100%;
    margin: 0;
}


.head-right {
    margin-left: 10%;
    width: 70%;
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-right a {
    color: beige;
    margin-left: 6%;
    /* margin-top: 10%; */
    font-size: 25px;
    text-decoration: none;
}

.head-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arvo',
        serif;
}

.head-logo {
    width: 60%;
    height: 100%;
}

.midback {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    min-height: 100%;
    min-width: 100%;
    z-index: -10;
    max-width: 100%;
    height: auto;
}

.heading-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
}

.head-intro {
    margin-top: 5%;
    font-size: 130px;
    text-transform: uppercase;
    font-family: 'Rampart One',
        cursive;
}

.video-container {

    width: 100%;
    height: 900px;
    position: relative;
    display: flex;
    justify-content: center;


}

.youtube-video {
    /* margin-left: 8%; */
    position: absolute;
    width: 1600px;
    height: 100%;
}

.youtube-video iframe {
    width: 100%;
    height: 100%;
    border-radius: 4%;
    border-color: rgba(94, 209, 127, 0.7);
    border-width: 10px;
}



.written-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sar {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: step-start;
    /* transition-timing-function: linear; */
    /* transition: width 1s; */
    animation: come-in 0.8s ease forwards;

}

.about-sar h3 {
    font-size: 50px;
    text-transform: uppercase;
    background-color: rgba(5, 3, 3, 0.7);
    border-radius: 2%;
    padding: 2%;
    transition: width 1s;
    font-family: 'Rampart One',
        cursive;
    display: flex;
    justify-content: center;

}

.about-sar p {
    width: 60%;
    font-size: 30px;
    line-height: 40px;
    background-color: rgba(5, 3, 3, 0.7);
    border-radius: 2%;
    padding: 2%;
    letter-spacing: 2px;
    transition: width 1s;
    /* font-family: 'Arvo',
        serif; */
    font-family: 'Indie Flower',
        cursive;
}

.aperture-written-intro,
.radar-written-intro,
.working-written-intro,
.application-written-intro {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    padding: 2%;
    column-gap: 3%;
    background-color: rgba(94, 209, 127, 0.7);
    margin-top: 5%;
    border-radius: 3%;
    transition: width 1s;
    animation: come-in 0.8s ease forwards;
}

.aperture-intro-img,
.radar-intro-img,
.working-intro-img,
.application-intro-img {
    height: 100%;
    width: 40%;
}

.aperture-intro-img img,
.radar-intro-img img,
.working-intro-img img,
.application-intro-img img {
    height: 100%;
    width: 100%;
}

.aperture-intro-para,
.radar-intro-para,
.working-intro-para,
.application-intro-para {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
}

.aperture-intro-para span,
.radar-intro-para span,
.working-intro-para span,
.application-intro-para span {
    color: white;
    font-size: 55px;
    padding: 1%;
    font-family: 'Rampart One',
        cursive;
}

.aperture-intro-para p,
.radar-intro-para p,
.working-intro-para p,
.application-intro-para p {
    color: black;
    font-size: 22px;
    line-height: 29px;
    border-radius: 2%;
    padding: 2%;
    letter-spacing: 2px;
    /* font-family: 'Indie Flower',
        cursive; */
    font-family: 'PT Sans',
        sans-serif;
}


#radar-intro,
#working-intro {
    flex-direction: column;
    padding: 0;
}

#radar-intro .radar-intro-para,
#working-intro .working-intro-para {
    width: 100%;
    justify-content: center;
    align-items: center;
}


.radar-intro-img {
    height: 100%;
    width: 50%;

}

.working-intro-img {
    height: 100%;
    width: 50%;
}

.application-intro-img {
    width: 60%;
}

.aperture-written-intro:hover,
.radar-written-intro:hover,
.working-written-intro:hover,
.application-written-intro:hover,
.about-sar h3:hover,
.about-sar p:hover,
.radar-intro-para p,
.aperture-intro-para p,
.working-intro-para p,
.application-intro-para p {
    background-color: rgba(5, 3, 3, 0.9);
    cursor: text;
    color: blanchedalmond;
    /* transform: translateY(10px); */
    width: 85%;
}


/*****Footer*****/


.foot {
    width: 100%;
    height: 15%;
    margin-top: 5%;
    background-color: rgba(12, 12, 10, 0.7);
    display: flex;
}

.foot-left {
    height: 100%;
    width: 30%;
}

.foot-right {
    width: 70%;
    height: 100%;
    display: flex;

    /* justify-content: center; */
    align-items: center;
}

.foot-logo {

    width: 40%;
}

.this-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 3%;
    width: 30%;
    height: 100%;
}

.this-page a {
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*********Responsivness********/


@media screen and (max-width: 1550px) {
    .youtube-video {
        width: 1100px;
    }

    .video-container {
        height: 618px;
    }

    .head-right a {
        margin-left: 3%;
        font-size: 23px;
    }

    .head-intro {
        font-size: 110px;
    }

    .head-right {
        margin-left: 5%;
    }

    .about-sar h3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1110px) {
    .youtube-video {
        width: 900px;
    }

    .video-container {
        height: 506px;
    }

    .head-right a {
        margin-left: 2%;
        font-size: 20px;
    }

    .head-intro {
        font-size: 100px;
    }

    .head-right {
        margin-left: 5%;
    }


}

@media screen and (max-width: 900px) {
    .youtube-video {
        width: 750px;
    }

    .video-container {
        height: 421px;
    }

    .head-right a {
        margin-left: 2%;
        font-size: 16px;
    }

    .head-intro {
        font-size: 80px;
    }

    .head-right {
        margin-left: 3%;
    }


}

@media screen and (max-width: 750px) {
    .youtube-video {
        width: 600px;
    }

    .video-container {
        height: 338px;
    }

    .head-right a {
        margin-left: 5%;
        font-size: 12px;
    }

    .head-intro {
        font-size: 55px;

    }

    .head-right {
        margin-left: 1%;
    }

    .aperture-intro-para span,
    .radar-intro-para span,
    .working-intro-para span,
    .application-intro-para span {
        font-size: 30px;
    }

    .aperture-intro-para p,
    .radar-intro-para p,
    .working-intro-para p,
    .application-intro-para p {

        font-size: 15px;
        line-height: 20px;
        border-radius: 2%;
        padding: 1%;
        letter-spacing: 2px;
        font-family: 'Indie Flower',
            cursive;
    }

    #radar-intro,
    #working-intro,
    #application-intro,
    #aperture-intro {
        flex-direction: column;
        padding: 0;
    }

    #radar-intro .radar-intro-para,
    #working-intro .working-intro-para,
    #application-intro .application-intro-para,
    #aperture-intro .aperture-intro-para {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .about-sar p {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .youtube-video {
        width: 390px;
    }

    .video-container {
        height: 214px;
    }

    .head-right a {
        margin-left: 10%;
        font-size: 10px;
    }

    .head-intro {
        font-size: 45px;

    }

    .head-right {
        margin-left: 1%;
    }

    .aperture-intro-para span,
    .radar-intro-para span,
    .working-intro-para span,
    .application-intro-para span {
        font-size: 30px;
    }

    .aperture-intro-para p,
    .radar-intro-para p,
    .working-intro-para p,
    .application-intro-para p {

        font-size: 15px;
        line-height: 20px;
        border-radius: 2%;
        padding: 1%;
        letter-spacing: 2px;
        font-family: 'Indie Flower',
            cursive;
    }


}


@media screen and (max-width: 450px) {

    .youtube-video {
        width: 300px;
    }

    .video-container {
        height: 168px;
    }

    .head-right a {
        margin-left: 2%;
        font-size: 8px;
    }

    .head-intro {
        font-size: 35px;

    }



    .aperture-written-intro,
    .radar-written-intro,
    .working-written-intro,
    .application-written-intro {
        flex-direction: column;
    }

    .aperture-intro-para,
    .radar-intro-para,
    .working-intro-para,
    .application-intro-para {
        width: 80%;
        height: 60%;
    }

    .aperture-intro-img,
    .radar-intro-img,
    .working-intro-img,
    .application-intro-img {
        height: 100%;
        width: 80%;
    }

    .about-sar p {
        font-size: 15px;
    }

    .foot-logo {
        width: 150px;
        height: 150px;

    }

    .foot-right {
        margin-left: 10%;
    }

    .this-page {
        width: 40%;
    }

    .this-page a {
        font-size: 10px;
    }
}

.js-scroll {

    transition: width 500ms;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(250px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.inline-photo {
    border-radius: .25em;
    box-shadow: 2em 2em 2em 1em rgba(0, 0, 0, .3);
    /* margin: 2em auto; */
    opacity: 0;
    transform: translateY(6em);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .5s .25s ease-in;
    /* max-width: 600px; */
    width: 90%;
    will-change: transform, opacity;
}

.inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
}


.headr {
    opacity: 0;
    transition: opacity 2s .3s ease-in-out;


}

.headr.is-visible {
    opacity: 1;

}



/* .headng {
    transform: translate(-50%, calc(-50% + 1em));
}


.is-visible .headng {
    transform: translate(-50%, -50%);
}

.main-photo,
.headng {
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        filter 10s 2s ease-out;
    will-change: transform;
} */